.admin{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    .nav-bar{
        width: 17%;
        height: 100vh;
    }
    .main{
        width: 83%;
        height: 100vh;
    }
}