.admin{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(82, 82, 82);
    overflow: hidden;
    .nav-bar{
        width: 20%;
        height: 100vh;
    }
    .main{
        width: 80%;
        height: 100vh;
    }
}