.navbar{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        li{
            margin: 1rem auto;
            padding: 1rem 2rem;
            background-color: rgb(51, 255, 0);
        }
        li:hover{
            cursor: pointer;
        }
    }

}